.column { 
    /*default desktop first approach*/
    float:left;
    width: 30%;
    height: 100px;
    margin: 10px; /*10 pixel margn all sides*/
    background-color: #e84610; /*red*/
}

@media (max-width: 991px) {
    /*Tablet & Mobile style*/
    /*This overrides default desktop style*/
    .column {
        margin: 10px 0; /*removes left & right margins*/
        background-color: #09973d; /*green*/
    
}
}

@media (max-width:767px) {
    /*Mobile style*/
    /*This overrides default desktop style*/
    .column {
        width: 100%;
        background-color: #000; /*black*/
    
}
}